<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: common_header(~{::title})">
    <meta charset="UTF-8">
    <title>민 커뮤니티</title>
</head>
<body>
<div id="header">
<h1>민 커뮤니티</h1>

</div>
<br>
<div id="posts_list">
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종수정일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody id="tbody" th:each="post : ${posts}">
        <td th:text="${post.id}">id</td>
        <td><a th:href="@{/posts/update/{id}(id=${post.id})}"><span th:text="${post.title}">title</span></a></td>
        <td th:text="${post.author}">author</td>
        <td th:text="${post.modifiedDate}">modifiedDate</td>
        <td th:text="${post.view}">0</td>
    </tbody>
</table>

<div style="display: inline-block" class="pagination justify-content-center">
    <th:block th:unless="${hasPrev}">
        <a th:href="@{/posts(page=${previous})}" role="button" class="btn btn-outline-dark disabled">이전 페이지</a>
    </th:block>
    <th:block th:if="${hasPrev}">
        <a th:href="@{/posts(page=${previous})}" role="button" class="btn btn-outline-dark">이전 페이지</a>
    </th:block>

    <th:block th:unless="${hasNext}">
        <a th:href="@{/posts(page=${next})}" role="button" class="btn btn-outline-dark disabled">다음 페이지</a>
    </th:block>
    <th:block th:if="${hasNext}">
        <a th:href="@{/posts(page=${next})}" role="button" class="btn btn-outline-dark">다음 페이지</a>
    </th:block>
</div >

    <div id="write">
        <a href="/posts/save" role="button" class="btn btn-primary">글쓰기</a>
    </div>


</div>
<script src="/js/app/index.js"></script>
</body>
</html>